<div data-ng-controller="RegisterCtrl" class="splash-flex-container">
  <div class="nmblis-auth-container">
    <h3>Register for a Nmblis account</h3>
    <form role="form" class="ng-pristine ng-valid">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" id="email" name="email" placeholder="Email" ng-model="email" class="form-control" >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Password" data-ng-model="pass" class="form-control" >
      </div>
      <button type="submit" class="btn btn-primary" data-ng-click="createAccount()">Register</button> or <a href="#/login" class="show-signup">click here if you already have a Nmblis account</a>   
    </form>
    <br>
    <p data-ng-show="err" class="nmblis-auth-error" >{{err}}</p>     
  </div>
</div>
