<div class="splash-flex-container">

<div class="splash-flex-container">
	<div class="splash-howto-item">
		<div class="splash-circle-lg splash-circle-lg-android"><a href="/download/Nmblis-0.9.apk"><span class="icon ion-social-android-outline"></span></a></div>
        <h3>Download Now for Android</h3>
		<p><a href="/download/Nmblis-0.9.apk">Click here to download the Nmblis App. On the Play Store soon.</a></p>
    </div> 

	<div class="splash-howto-item">
		<div class="splash-circle-lg splash-circle-lg-ios"><span class="icon ion-social-apple"></span></div>
		<h3>iOS App Coming Very Very Soon</h3>
        <p>Apple iOS App coming to the App Store soon.</p>
	</div>
		

</div>

</div>