<div class="navbar navbar-default" role="navigation" data-ng-controller="HeaderController">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home" ng-click="collapse()">Nmblis<strong class="beta">beta</strong></a>
    </div>

    <div ng-hide="auth">
      <ul class="nmblis-navbar nav navbar-nav navbar-collapse collapse navbar-right">
        <li><a href="#/download" ng-click="collapse()" class="nmblis-menu-item">Download<span class="icon ion-social-android"></span></a></li>
        <li><a href="#/howto" ng-click="collapse()" class="nmblis-menu-item">How To</a></li>
        <li><a href="http://nmblis.com/blog/" target="_blank" class="nmblis-menu-item">Blog</a></li>
        <li><a href="#/login" ng-click="collapse()" class="nmblis-menu-item">Signin</a></li>
        <li><a href="#/register" ng-click="collapse()" class="nmblis-menu-item">Register</a></li>
      </ul>
    </div>
    <div ng-show="auth">
      <ul class="nmblis-navbar nav navbar-nav navbar-right navbar-collapse collapse">
        <li><a href="#/download" ng-click="collapse()" class="nmblis-menu-item">Download<span class="icon ion-social-android"></span></a></li>
        <li data-ng-repeat="entry in navbarEntries" data-ng-class="{ active: entry.isActive }">            
          <a href="#{{entry.link}}" ng-click="collapse()" class="nmblis-menu-item">{{entry.title}}</a>
        </li>
        <li><a href="http://nmblis.com/blog/" target="_blank" class="nmblis-menu-item">Blog</a></li>
        <li><a href="" ng-click="logout();collapse()" class="nmblis-menu-item">Signout</a></li>
      </ul>
    </div>
  
  </div>
</div>