<div class="splash-flex-container">

<h2 class="splash-flex-heading subhead">How To Nmblis</h2>

<div class="splash-flex-container">
	<div class="splash-howto-item">
		<div class="splash-circle-lg"><span class="icon ion-home"></span></div>
        <h3>Your Nmblis</h3>
		<p>Flip (<i class="icon ion-loop"></i> if Activated), <strong>Edit</strong> (if not Published), and <strong>View</strong>. Click <strong>QR</strong> (if Published) to share.</p>
    </div> 

	<div class="splash-howto-item">
		<div class="splash-circle-lg"><span class="icon ion-compose"></span></div>
		<h3>Create</h3>
        <p>Create your own Nmblis based on one of our templates, or from a Nmblis shared with you.</p>
	</div>

	<div class="splash-howto-item">
		<div class="splash-circle-lg"><span class="fa fa-qrcode"></span></div>
        <h3>Scan</h3>
        <p>Use the Nmblis App to scan others Nmblis' and add to your Library.</p>
	</div>

	<div class="splash-howto-item">
		<div class="splash-circle-lg"><span class="icon ion-ios7-albums"></span></div>
        <h3>Library</h3>
        <p>View all the Nmblis' you've collected.</p>
	</div>

	<div class="splash-howto-item">
		<div class="splash-circle-lg"><span class="icon ion-archive"></span></div>
        <h3>Archive</h3>
		<p>Don't want your Nmblis on your Home screen, but don't want to delete it? Move it to the Archive.</p>
	</div>

	<div class="splash-howto-item">
		<div class="splash-circle-lg"><span class="icon ion-ios7-sunny-outline"></span></div>
        <h3>Bask</h3>
		<p>That's all there is to it. <i class="fa fa-smile-o"></i></p>
	</div>				

</div>

</div>