<div class="faq-container" >
<h2>Frequently Asked Questions</h2>

<div >
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>What in the world is a Nmblis?</h3>
	<p class="faq-answer">Think of Nmblis as a better business card. Your Personal Billboard.  All the same info you have on a business card, you can have on a Nmblis.  Plus some - clickable email addresses, websites, phone numbers, social media links, your picture, etc...</p>
<div>	

<div>
	<span class="icon ion-ios7-help"></span><h3 class="faq-question">But why?</h3>
	<p class="faq-answer">Let's say you're an up and coming go-getter, who wears many hats, one title doesn't fit you, and you'd need multiple cards.  Nmblis.  Or say you just want to go green, and stop carrying a stack of business cards around.  Nmblis.  Or you're a business wanting to reduce your bottom line somehow someway.  Nmblis.</p>
<div>

<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>Well, okay then.  How much?</h3>
	<p class="faq-answer">Free ninety-nine. 'Free ninety-nine?!'  Free ninety-nine.</p>
<div>
<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>What's in it for me?</h3>
	<p class="faq-answer">We hope you use Nmblis as you would a business card.  But we think you have more flexibility and less limitations with Nmblis.  It's free! You can use animated GIFs!! Clickable links and phone numbers!!! It's free!!!!</p>
<div>
<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>What's in it for you?</h3>
	<p class="faq-answer">We're excited to offer what we think would be a useful product.  Especially to those who don't have the means or desire to buy business cards.</p>
<div>
<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>I have a suggestion...</h3>
	<p class="faq-answer">Didn't mean to cut you off, but we'd love to hear it.  Email us at <a href="mailto:carlo@nmblis.com">carlo@nmblis.com</a></p>
<div>
<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>I'm a designer. How do I give my Nmblis to a client to use.</h3>
	<p class="faq-answer">Make sure the Nmblis is Cloneable when you share it with them. And if you don't want them to be able to share your design, make sure they don't make it Cloneable.</p>
<div>
<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>Is there an Apple App?</h3>
	<p class="faq-answer">It's on it's way very very soon.</p>
<div>
<div>
	<h3 class="faq-question"><span class="icon ion-ios7-help"></span>There's something wrong with your app.</h3>
	<p class="faq-answer">That's not technically a question, but we'll go ahead and address that for ya.  We're still in the process of dotting our i's and crossing our t's.  We're aware of all the gaps, and we're addressing them ASAP.  At the moment, Nmblis is a labor of learning and love.  Check out our Blog, where we get into the details.</p>
<div>

